
.buttonicon-circle-i {
    position: absolute;
    height: 4px;
    width: 8px;
    bottom: 56%;
    transition: .55s;
    background-color: var(--project-complementary-color);
    z-index: 1;
}

.buttonicon-hidden-i {
    opacity: 0;
    position: absolute;
    height: 4px;
    width: 8px;
    bottom: 56%;
    transition: .15s;
    background-color: var(--project-complementary-color);
    z-index: 1;
}

.buttonicon-line-90-i {
    position: absolute;
    height: 7px;
    width: 30px;
    transform: rotate(90deg);
    transition: .15s;
    background-color: var(--project-font-color);
}

.buttonicon-line-90 {
    position: absolute;
    height: 7px;
    width: 30px;
    transform: rotate(90deg);
    transition: .25s;
    background-color: var(--project-font-color);
}

.buttonicon-line-45 {
    position: absolute;
    height: 7px;
    width: 30px;
    transform: rotate(45deg);
    transition: .25s;
    transition-timing-function: ease-in-out;
    -webkit-transition-timing-function: ease-in-out;
    background-color: var(--project-font-color);
}

.buttonicon-line--45 {
    position: absolute;
    height: 7px;
    width: 30px;
    transform: rotate(135deg);
    transition: .25s;
    transition-timing-function: ease-in-out;
    -webkit-transition-timing-function: ease-in-out;
    background-color: var(--project-font-color);
}