#project-1 {
    background-image: url("../content/img/Frontend.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

#project-2 {
    background-color: var(--project-complementary-color);
}

#project-3 {
    background-image: url("../content/img/logiLowerRes.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}