* {
    box-sizing: border-box;
}

body {
    margin: 0;
    overflow: hidden;
    font-size: 2vh;
    font-family: 'Open Sans', sans-serif;
    background-color: var(--project-color);
}

:root {
    --container-width: 100vw;
    --container-height: 100vh;
    --project-color: #2e2e2e;
    --project-complementary-color: rgb(53, 53, 53);
    --project-font-color: rgb(243, 243, 243)
}

.pagecontainer {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-flow: row;
    align-items: center;
    justify-content: center;
}

.scrollhandler {
    height: var(--container-height);
    overflow-y: scroll;
    scroll-behavior: smooth;
    scroll-snap-type: y mandatory;
    transition: .15s;
    scrollbar-width: none;
} ::-webkit-scrollbar {
    width: 0px;
    background: transparent; /* make scrollbar transparent */
}

.project {
    position: relative;
    display: flex;
    flex-flow: column;
    justify-content: flex-end;
    height: var(--container-height);
    width: var(--container-width);
    background-color: var(--project-color);
    scroll-snap-align: start;
    color: var(--project-font-color);
}

h1 {
    font-size: 3rem;
}

p {
    font-size: 1rem;
    font-weight: 300;
}

h3 {  
    font-size: 1.2rem;
    text-decoration: underline;
}

.subtitle {
    font-size: 1.20rem;
    font-weight: 700;
}

.backgroundvideo {
    position: absolute;
    height: 100%;
    width: 100%;
    object-fit: cover;
    z-index: 1;
}

.infohandler {
    display: none;
    opacity: 0;
    margin: 5%;
    transition: 1s;
    height: 100%;
    overflow-x: scroll;
    scrollbar-width: none;
} ::-webkit-scrollbar {
    width: 0px;
    background: transparent; /* make scrollbar transparent */
}

.infohandler p:last-child {
    padding-bottom: 60px;
    height: 100%;
}

.infocontainer {
    width: var(--container-width);
    height: 5%;
    background-color: var(--project-color);
    z-index: 2;
}

.infocontainer-show {
    width: var(--container-width);
    height: var(--container-height);
    background-color: var(--project-color);
    z-index: 2;
}

.buttoncontainer {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 0;
    z-index: 3;
}

.button {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    height: 50px;
    width: 50px;
    background-color: var(--project-complementary-color);
    bottom: 12vh;
    opacity: .8;
    transition: 1s;
}

.desktopmenucontainer {
    display: none;
    position: relative;
    height: var(--container-height);
}

.desktopmenu {
    position: absolute;
    right: 10px;
    top: -10px;
    width: 70px;
    text-align: center;
}

.desktopmenu h2 {
    background-color: var(--project-complementary-color);
    color: var(--project-font-color);
    font-weight: 300;
    padding: 3%;
    font-size: .8rem;
    transition: .25s;
}

.desktopmenu h2:hover {
    text-decoration: underline;
    background-color: var(--project-font-color);
    color: var(--project-color);
    transition: .25s;
}

.footercontainer {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 32px;
    background-color: var(--project-color);
}

.footer {
    line-height: 0;
    text-align: center;
    width: 97.5%;
    height: 80%;
    background-color: var(--project-complementary-color);
    color: var(--project-font-color)
}

@media only screen 
and (min-width: 1024px) {
    :root {
        --container-width: 768px;
        --container-height: 500px;
    }

    body {
        background-color: var(--project-font-color);
    }

    .desktopmenucontainer {
        display: block;
    }
}

@media only screen 
and (orientation : portrait) {
    .infohandler {
        margin-top: 12%;
    }
}

@media only screen 
and (orientation : landscape) {
    body{
        font-size: 2vw;
    }
}

@media screen 
and (max-width : 460px) {
    p {
        font-size: .8rem;
    }
    
    h3 {  
        font-size: 1rem;
    }
    
    .subtitle {
        font-size: 1rem;
    }
}